@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

.app
{
  position: relative;
}

/*Overlays objects above the Particle.js canvas*/
.text-overlay
{
  position: absolute;
  
}

/*About Page Header*/
#MainHead
{
  top: 50%; 
  left: 5%;
  transform: translateY(-50%);
}

#MainHeadHeader
{
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  margin-bottom: 0px;

}

#MainHeadSecondary
{
  font-family: 'Montserrat', sans-serif;
  font-size: 27px;
  color: gray;
}

#bigmoji
{
  font-size: 44px;
}

#Navbar
{
  overflow: hidden;
  right: 7%;
  transform: translateX(-50,-50);
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  color: gray;
}

.innerNav
{ 
  margin-left: 50px;
  float:left;

}


a.Navlink:visited, a.Navlink:link
{
  color: gray;
}

a.Navlink:hover 
{
  color: #d90a0a;
  opacity: 0.5;
}