@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

#root
{
  height:100%;
}

html, body {
    overflow: hidden;
    height:100%;
}

.app
{
  position: relative;
  height:100%;
}


/*Overlays objects above the Particle.js canvas*/
.text-overlay
{
  position: absolute;
  
}

/*About Page Header*/
#MainLeft
{
  top: 50%; 
  left: 5%;
  transform: translateY(-50%);
}

#ContactFormRight
{
  top: 50%; 
  left: 75%;
  transform: translate(-50%,-50%);
}

#cform
{
  width:470px;
}

input
{
  border: 2px solid gray;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size:19px;
  color: black;

}

textarea
{
  border: 2px solid gray;
  height: 100%;
  width: 100%;
  resize: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  color: black;
}

.shortBox
{
  height:32px;
}

.messageBox
{
  height:200px;
}

.submitBox
{
  height:32px;
  color: gray;
  background-color: white;
  margin-top: 27px;
  width: 40%;
}

input[type=submit]:hover
{
  color: black;
  font-weight:bold;
  border: 3px solid black;

}


#ContactFormText
{
  font-family: 'Montserrat', sans-serif;
  font-size: 27px;
  color: gray;
  margin-bottom: 0px;
}

#MainHeadHeader
{
  font-family: 'Montserrat', sans-serif; 
  font-size: 100px;
  margin-bottom: 0px;

}

#MainHeadSecondary
{
  font-family: 'Montserrat', sans-serif;
  font-size: 27px;
  color: gray;
}

#bigmoji
{
  font-size: 44px;
}

#Navbar
{
  overflow: hidden;
  right: 7%;
  transform: translate(-50,-50);
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: gray;
}

.innerNav
{ 
  margin-left: 50px;
  float:left;

}

a.Navlink:visited, a.Navlink:link
{
  color: #91969e;
}

a.Navlink:hover 
{
  color: #000000;
  opacity: 0.5;
}

.canvasDiv
{
height:100%;
}

#gallery
{
  top: 50%; 
  left: 62%;
  width:40%;
  transform: translate(-50%,-50%);
}

#galleryRow
{
  display: flex;
  flex-wrap: wrap;
}

#galleryCol
{
  flex: 33%;
  max-width: 33%;

}

#galleryImgContainer
{
  font-size: 0;
  padding: 4px;


}

#galleryImgContainer img
{
  object-fit: cover;
  max-width:100%;
  max-height:33vh;
}

